@charset "UTF-8";

*
{
    box-sizing:border-box;
}

html
{
  scroll-behavior: smooth;
}

a
{
 text-decoration:none; color:#fff; font-family:'Roboto', sans-serif; font-weight:500; user-select: none;
}

h1, h2, h3, h4, h5, h6
{
  margin:0px; padding:0px; font-family: 'Roboto', sans-serif; font-weight:500; color: var(--color-tertiary);
}
ul
{
  list-style:none; margin:0px; padding:0px;
}
